{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Kahoot-remake{% endblock %}</title>
    <link rel="icon" type="image/ico+xml" href="https://assets-cdn.kahoot.it/controller/v2/favicon.ico" />
    <style>
        body{
            margin: 0;
            height: 100vh;
            background-image: url("{% static 'Home_bg.png' %}");
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            color: white;
        }
    </style>
</head>
<body>
    <h2 style="
        margin-top: -30%;
        margin-left: 5%;"
        
        >{{ quiz.title }}
    </h2>
    <p style="
        margin-top: -15%;
        margin-left: -3%;"
        >{{ quiz.description }}
    </p>

    <h3 style="
        margin-left: -9%;"
    >Питання
    </h3>

    <ul>
        {% for q in questions %}
            <li>{{ q.text }} ({{ q.time_limit }} сек)</li>
        {% empty %}
            <li>Питань поки немає</li>
        {% endfor %}
    </ul>

    <a style="
        margin-top: 15%;
        margin-left: -15%;
        color: white"
    href="{% url 'add_question' quiz.id %}">
    ➕ Додати питання
    </a>
    <br><br>
    <a style="
    margin-top: 15%;
    margin-left: 3%;
    color: white"
    href="{% url 'create_session' quiz.id %}"
    >▶ Запустити гру
    </a>
</body>
</html>